@model ForgetPasswordModel

@{
    Layout = "_Layout";
}
<div class="container mt-5 mb-5">
 <form action="/manager/resetPassword" method="POST">
@Html.AntiForgeryToken()

<div class="form">

      <div class="text-danger" asp-validation-summary="All">
        
    </div>
    <input type="hidden" asp-for="@Model.token">

     <div class="form-group">
    <label for="exampleInputEmail1">Email adresiniz:</label>
    <input  class="form-control" id="exampleInputEmail1" asp-for="@Model.email" placeholder="Email adresinizi giriniz." readonly>
    <small id="emailHelp" class="form-text text-muted">Email adresiniz kimse ile paylaşılmayacaktır.</small>
      <span asp-validation-for="email" class="text-danger"></span>
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Şifreniz:</label>
    <input  class="form-control" id="exampleInputEmail1" asp-for="@Model.password" placeholder="Şifrenizi giriniz.">
    <small id="emailHelp" class="form-text text-muted">Şİfreniz kimse ile paylaşılmayacaktır.</small>
      <span asp-validation-for="password" class="text-danger"></span>
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1">Şifre Tekrar:</label>
    <input  class="form-control" id="exampleInputEmail1" asp-for="@Model.rePassword" placeholder="Şifrenizi tekrardan giriniz.">
      <span asp-validation-for="rePassword" class="text-danger"></span>
      
    
  </div>

   <button type="submit" class="btn btn-primary">Şifremi Değiştir</button>


</div>






</form>
</div>